* {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

#samples {
  width: 500px;
}
.mapOption {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
.mapOption.active {
  background: rgb(202, 202, 202);
}

#charts {
  height: 600px;
}
